@using Bilet1.Areas.Admin.ViewModels.Designations

@model CreateDesignationVM

<form method="post">
    
        <legend>Create Designation</legend>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name"  class=" form-control" placeholder="Enter Name">
            <span asp-validation-for="Name"></span>
        </div>
        
        <button type="submit" class="btn btn-primary"asp-action="Create">Submit</button>
    <button asp-action="Index" class="btn btn-google">Cancel</button>
    
</form>

